@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans text-white overflow-hidden m-0 bg-dark-gray min-w-[350px];
}

#container {
  @apply select-none mx-auto text-center max-w-lg;
}

header {
  @apply flex justify-between items-center px-4 py-4 border-b border-gray max-w-lg mx-auto;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #999;
}

p {
  @apply my-4;
}

section {
  @apply flex flex-col justify-center items-center;
}

.modal {
  @apply fixed inset-0 bg-background opacity-0 pointer-events-none z-20 flex justify-center;
  transition: all 250ms;
  transform: translate(0, 50px);
}

.modal-inner {
  @apply max-w-[100vw] w-[26rem] h-[26rem] bg-dark-gray z-30 my-24 mx-2;
}

.modal.open {
  @apply opacity-100 pointer-events-auto;
  transform: translate(0, 0);
}

.word {
  @apply flex select-none mt-[0.5rem] ml-[0.5rem] text-white;
}

.tile {
  @apply mr-[0.5rem] cursor-pointer w-[4rem] h-[4rem] flex relative justify-center items-center text-[2.3rem] font-bold uppercase box-border;
  touch-action: none;
  text-decoration: none;
  transition: background-color 200ms, box-shadow 200ms;
}

div.tile.index.color.active,
div.tile.index.color.drag {
  @apply z-10;
  background-color: #999 !important;
  box-shadow: rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.tile.highlight {
  box-shadow: inset rgb(255, 255, 255) 0px 0px 2px 2px;
}

button {
  @apply bg-white text-black px-4 py-1 rounded-md;
}
