body {
  background-color: #121213;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-family: sans-serif;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
}

.word {
  display: flex;
  user-select: none;
  margin: 0.5rem 0 0 0.5rem;
}

.tile {
  margin-right: 0.5rem;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
  touch-action: none;
  text-decoration: none;
  box-sizing: border-box;
  text-transform: uppercase;
}

.tile.active {
  border: 0.2rem solid white;
}
