/* TODO: dark mode toggle */
body {
  /* background-color: #ddd;
  color: #000; */
  margin: 0;
  overflow: hidden;
  background-color: #121213;
  color: white;
  font-family: sans-serif;
}

#container {
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  border-bottom: 1px solid #3a3a3c;
  max-width: 380px;
  margin: 0 auto;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #121213;
  opacity: 0;
  transition: all 250ms;
  transform: translate(0, 50px);
  pointer-events: none;
}

.modal.open {
  opacity: 1;
  transform: translate(0, 0);
  pointer-events: all;
}

.word {
  display: flex;
  user-select: none;
  margin: 0.5rem 0 0 0.5rem;
  color: white;
}

.tile {
  margin-right: 0.5rem;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
  touch-action: none;
  text-decoration: none;
  box-sizing: border-box;
  text-transform: uppercase;
  transition: background-color 200ms, box-shadow 200ms;
}

.tile.active,
.tile.drag {
  background-color: #999 !important;
  box-shadow: rgba(0, 0, 0, 0.23) 0px 6px 6px;
  z-index: 10;
}

.tile.highlight {
  box-shadow: inset rgb(255, 255, 255) 0px 0px 2px 2px;
}

.green {
  font-weight: bold;
  color: #528a4c;
}
.yellow {
  font-weight: bold;
  color: #a39035;
}
.gray {
  font-weight: bold;
  color: #535355;
}
